@charset "utf-8";

section, header, aside, footer { 
   display: block;
}

html {
    background-color: rgb(17, 2, 91);
}

body, aside {
    width: 95%;
    margin: auto;
    background-color: white;
}

body > header img#logo {
    width: 7%;
    margin-left: 2%;
    margin-top: 1%;
} 

body header span#Jom {
    font: bold 40px "Brush Script MT", cursive;
    position: absolute;
    margin-left: 1%;
    top: 3%;
    color: rgb(14, 122, 9);
}

body header span#Travel {
    font: bold 45px "Brush Script MT", cursive;
    position: absolute;
    margin-left: 4%;
    top: 8%;
    color: rgb(3, 169, 3);
}

body header img#visa {
    width: 10%;
    margin-left: 62%;
}

section {  
    display: block;
    margin-left: 18%;
    margin-top: 5%;
    text-align: justify;
    width: 40%;
} 

section > form > div {
    font-size: 12px;
    color: rgb(171, 171, 171);
}

input:focus {
    background-color: rgb(221, 221, 217);
}

input:focus:valid {
    background-color: rgb(220, 255, 220);
}

div input#cardNo, input#cvvNo, input#expire ,input#password {
    border: 1px solid rgb(210, 210, 210);
    border-radius: 4px;  
    height: 45px;
    color: rgb(131, 128, 128);
}

div input#cardNo {
    text-align: center;
}

div input#cvvNo, input#expire {    
    width: 34%;
    margin-left: 10%;
    text-align: center;
    position: relative;
    top: -17px;
}

div input#password {
    width: 34%;
    margin-left: 14.5%;
    text-align: center;
    position: relative;
    top: -17px;
}

div input::placeholder {
    color: rgb(131, 128, 128);
}

div > input#payNow {
    background-color: rgb(56, 7, 217);
    color: white;
    transition-duration: 0.5s;
}

div > input#payNow:hover {
    background-color: rgb(39, 1, 105);
    color: white;
}

div input#payNow {
    border-radius: 5px;
    height: 40px;
    width: 430px;
    font-size: 20px;
}

/* Aside */
fieldset {
    margin-left: 18%;
    position: relative;
    top: -410px;
    left: 40%;
    width: 25%;
    height: 520px;
    border-radius: 5%;
    background-color: rgb(220, 228, 240);
    box-shadow: 0px 0px 20px 5px rgb(215, 218, 224);
}

aside img {
    background-color: rgb(220, 228, 240);
}

aside {
    background-color: rgb(220, 228, 240);
    margin-left: 2%;
    margin-right: 2%;
}

aside p#company, p#order, p#quantity, p#pay {
    font-size: 20px;
    color:rgb(94, 118, 148);
}

aside span#JT {
    padding-left: 45%;
    color: rgb(8, 8, 69);
}

aside span#ON {
    padding-left: 41.5%;
    color: rgb(8, 8, 69);
}

aside span#Q {
    padding-left: 73%;
    color: rgb(8, 8, 69);
}

aside span#MYR {
    font: 30px "Century Gothic",Verdana,sans-serif;
    color: rgb(1, 1, 100);
    transition: 0.5s;
}

aside span#sen {
    font: 15px "Century Gothic",Verdana,sans-serif;
    color: rgb(1, 1, 100);
}

aside span#MYR:hover {
    font-size: 40px; 
}

